*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #f3f0eb;
}

.header-wrap{
	
	width: 100%;
	min-width: 1180px;
	
}

.header-top{
	 width: 100%;
	 min-width: 1180px;
	 height: 70px;
	 background-color: #2a2a2d;
}

.header-content{
	
	width: 1180px;
	margin: 0 auto;
	height: 70px;
	
}

.search{
	
	width: 285px;
	padding: 15px 0;
	margin: 0 auto;
}

.search-wrap{
	
	width: 285px;
	height: 40px;
	border-radius: 20px;
	background-color: white;
}

.search-keyword{
	
	width: 190px;
	height: 20px;
	border: 0;
	padding: 10px;
	box-sizing: content-box; /*search 框1默认的盒子模型是border-box border和padding算在width和height里面*/
	margin-left: 20px;
	float: left;
	
}

.search-submit{
	
	width: 50px;
	height: 40px;
	border-radius: 0 20px 20px 0;
	background-color: #ffdc35;
	border: 0;
	margin-left: 5px;
	background-image: url() no-repeat ;
	background-color: #ffdc35;
	
}

.header-submenu{
	
	width: 100%;
	height: 60px;
	min-width: 1180px;
	background-color: #FFFFFF;
	
}

.header-submenu-warp{
	
	width: 1180px;
	margin: 0 auto;
	
}

.header-submenu-list>li{
	
	float: left;
	list-style: none;
	margin: 15px;
	font-size: 18px/30px;
	
}

.header-submenu-list>li>a{
	text-decoration: none; /*取消下划线*/
	
	color: black;
}

.header-submenu-list>li>a:hover{
	color: red;  /*鼠标经过时变红色*/
}

.clear-fix::after{
	/*清除浮动*/
	content: "";
	display: block;
	height: 0;
	clear: both;     
}

.gift-ad{
	
	float: left;
}